h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    text-align: center;
}

.heart {
    width: 100px;
    height: 100px;
    background-image: url('fotos/heart.png');
    /* Reemplaza 'corazon.png' con la ruta a tu imagen de corazón */
    background-size: cover;
    position: relative;
    margin: 20px auto;
    transition: all 0.2s ease;
    /* Agregamos una transición para el efecto de latido */
}

.fill {
    display: inline-block;
    /* Hace que el div con la clase fill tenga inline-block */
    background-color: red;
    width: 0%;
    max-width: 90%;
    /* Limita el ancho máximo de la barra al 100% del ancho del contenedor */
    height: 15px;
    transition: width 1s ease;
    vertical-align: middle;
    /* Alinea verticalmente el texto con el div */
    /* Agregamos una transición para la animación de la barra de progreso */
}

.progress-bar-container {
    width: 200px;
    margin: 0 auto;
    /* height: 15px; */
}

#percentage {
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.carousel-item img {
    width: 200px;
    /* Cambiamos el tamaño de las imágenes */
    height: 600px;
    /* Cambiamos el tamaño de las imágenes */
}

.navbar {
    text-align: center;
    /* Centra los elementos del navbar */
    border-bottom: 1px solid #333;
    /* Línea divisoria entre el navbar y el contenido */
    margin-bottom: 20px;
    /* Espacio entre el navbar y el contenido */
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    /* Cambia a inline-block para agregar espacio entre elementos */
    margin-right: 20px;
    /* Espacio entre elementos del navbar */
}

.nav-links li:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último elemento para evitar espacio extra */
}

.nav-links li a {
    color: #333;
    /* Color del texto */
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
    /* Subrayar en hover */
}

.dato {
    font-size: 25px;
    font-weight: bold;
}

.valor {
    font-size: 25px;
    color: green;
    margin-left: 5px;
}

.moneda {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 100px auto;
    animation: lanzamiento 1s ease-out forwards; /* Esta línea activa la animación cuando la página se carga */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre la moneda */
}

@keyframes lanzamiento {
    0% {
        transform: translateY(0) rotateX(0);
    }

    50% {
        transform: translateY(-200px) rotateX(360deg);
    }

    100% {
        transform: translateY(0) rotateX(0);
    }
}