.container {
    text-align: center;
}

.heart {
    width: 100px;
    height: 100px;
    background-image: url('fotos/corazon.png');
    /* Reemplaza 'corazon.png' con la ruta a tu imagen de corazón */
    background-size: cover;
    position: relative;
    margin: 20px auto;
    transition: all 0.2s ease;
    /* Agregamos una transición para el efecto de latido */
}

.fill {
    background-color: red;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s ease;
    /* Agregamos una transición para la animación de la barra de progreso */
}

.progress-bar-container {
    width: 200px;
    margin: 0 auto;
}

#percentage {
    font-size: 20px;
    font-weight: bold;
}

.carousel-item img {
    width: 200px;
    /* Cambiamos el tamaño de las imágenes */
    height: 200px;
    /* Cambiamos el tamaño de las imágenes */
}