/* Estilos básicos */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffebf0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #ff9a9e;
    padding: 20px;
}

header h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    color: white;
}

.intro, .gallery, .message {
    text-align: center;
    padding: 40px;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #ff9a9e;
}

.intro p, .message p {
    font-size: 1.2em;
    line-height: 1.6;
}

.gallery {
    background-color: #fff0f3;
    padding: 40px 0;
}

.gallery .photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .photos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #ff9a9e;
}

/* Estilos para la cuenta atrás */
.countdown {
    text-align: center;
    margin-top: 30px;
}

#countdown-timer {
    font-size: 2rem;
    font-weight: bold;
    color: #ff9a9e;
}

footer {
    text-align: center;
    background-color: #ff9a9e;
    color: white;
    padding: 20px;
}
